.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    width: 80%;
    height: 80vh;
}

.right {
    width: 80%;
    height: 80vh;
    border: 1x solid;
}

#editor {
    width: 80%;
    height: 80%;
}